@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;500;700&display=swap');
:root{
    --main--color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linier;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
/* html::-webkit-scrollbar{
    width: 8rem;
} */
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;

}
body{
    background: var(--bg);
}
section{
    padding: 2rem 7%;
}
.heading{
    color: #fff;
   text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    padding-bottom: 3.5rem;
}
.tampil{
    margin-top: 5px;
    margin-left: 5px;
    align-items: center;
    display: flex;
}

.heading span{
    color: var(--main--color);
    text-transform: uppercase;
}
.header{
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1000;
    height: 80px;
}
.header .logo img{
    height: 5.5rem;
    position: relative;
    top: 17px;
}
.header .navbar a{
    margin: 0.1rem;
    font-size: 1.6rem;
    color: #fff;
    padding: 10px;
}

.header .navbar a:hover{
    color: var(--main--color);
    border-bottom:  .1rem solid var(--main--color);
    padding-bottom:.5rem ;
    /* text-transform: capitalize;
    transition:  .2s linier; */
}

.header .icon  div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left:2rem ;
}
.header a div span{
    color: var(--main--color);
    font-size: 20px;

}
.header a div {
    color: #fff;
    font-size: 20px;
    z-index: 1000;
    position: relative;
    left: 60px;
    bottom: 33px;
}
.header .icon div:hover{
    color: var(--main--color);
}
#menu_btn{
    display: none;
}
.header .search-form{
    position: absolute;
    top: 115%; right:7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}
.header .search-form.active{
    transform: scaleY(1);
}
.header .search-form input{
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
   color: var(--black);
   padding: 1rem;
   text-transform: none;

}
.header .search-form label{
    color: var(--main--color);

}

.header .cart-items-container{
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background:#fff ;
    padding: 1.5rem;
}
.header .cart-items-container .cart-item{
    position: relative;
    max-width: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1,5rem;
}
.header .cart-items-container.active{
    right: 0;
}
.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}
.header .cart-items-container .cart-item .fa-times:hover{
    color: var(--main--color);
}
.header .cart-items-container .cart-item img{
    height: auto;
    width: 10rem;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    /* padding: 50px; */
}
.header .cart-items-container .cart-item h3{
    font-size: 1.5rem;
    color: var(--black);
    padding-bottom: .5rem;
}
.header .cart-items-container .cart-item .content .harga{
    font-size: 1.5rem;
    color: var(--main--color);
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main--color);
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover{
    letter-spacing: 0.25rem;
   /* background-color: gold; */

}
.header .cart-items-container .btn{
width: 100%;
text-align: center;
}

.home{
    min-height: 112vh;
    display: flex;
    align-items: center;
    background: url(/asset/mrbfood.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
  
}

 .home .content h3{
    font-size: 6rem;
    color: #fff;
    text-transform: uppercase;

 }

 .home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    color: #ddd;
    padding: 1rem 0;

 }

.about .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
    border-radius: 7px;
}

.about .row .image{
    flex: 1 1 45rem;
    
}

.about .row .image img{
    width: 100%;

}
.about .row .content{
    flex:1 1 45rem;
    padding: 2rem;
    color: #fff;
}

.about .row .content h3{
    font-size: 3rem;
   color: #fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1,8;
}

.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 2.5rem;
}

.products .box-container .box {
    text-align: center;
    padding: 5rem;
    background-color: var(--bg);
    border-radius: 10px;
}

.products .box-container .box .icon{
    color: #fff;
    font-size: 2rem;
    position: relative;
    right: 12rem;
    bottom: 2rem;
    cursor: pointer;
}

.products .box-container .box .icon:hover{
    color: var(--main--color);
   
}

.products .box-container .box:hover {
    text-align: center;
    padding: 5rem;
    background-color: var(--bg);
    border-radius: 10px;
    box-shadow: 0px 0px 15px 15px var(--main--color);
}

.products .box-container .box img{
    height: 20rem;
    border-radius: 20px;
}

.products .box-container .box h3{
    color:var(--main--color) ;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.products .box-container .box .stars i{
    color: var(--main--color);
    font-size: 2rem;
}
.products .box-container .box .btn{
    margin-top: 5rem;
    border-radius: 5px;
}
.menu .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
   gap: 2.5rem;
}

.menu .box-container .box {
    text-align: center;
    padding: 5rem;
    border: var(--border);
    border-radius: 7px;
}
.menu .box-container .box img{
    height: 10rem;
    border-radius: 20px;
   
}

.menu .box-container .box h3{
    color: #fff ;
    font-size: 2.5rem;
    padding: 5rem 0;
}

.menu .box-container .box .harga{
    color: #fff;
    font-size: 1.5rem;
    /* text-decoration: line-through; */
}

.menu .box-container .box:hover{
   background: #fff;
}

.menu .box-container .box:hover >*{
   color: var(--black);
}

.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 2.5rem;
}

.review .box-container .box{
    text-align: center;
    border: var(--border);
    padding:3rem 5rem;
    border-radius: 7px;
}

.review .box-container .box p{
    color: #ccc;
    line-height: 1.8;
    font-size: 1.5rem;
    padding: 2rem 0;
}

.review .box-container .box .user{
    object-fit: cover;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
}
.review .box-container .box h3{
    color: #fff;
    padding: 1rem;
    font-size: 2rem;
}


.review .box-container .box .stars i{
    color: var(--main--color);
    font-size: 2rem;
}
/* Style The Dropdown Button */
.dropbtn {
    /* background-color: #4CAF50; */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--black);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}
.header .navbar a .dropdown-content:hover{
    color: var(--main--color);
    border-bottom:  .1rem solid var(--main--color);
    padding-bottom:.5rem ;
  }
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  .blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 2.5rem;
  }

  .blogs .box-container .box{
    text-align: left;
    color: #fff;
    padding:3rem 5rem;
  }

  .blogs .box-container .box{
      display: flex;
      text-align: center;
      color: #fff;
      border-radius: 20px;
    }

    .blogs .box-container .box:hover{
        background-color: #fff;
    }

    .blogs .box-container .box:hover >*{
        color: var(--black);
     }

  .blogs .box-container .box .gambar img{
    height: 15rem;
    border-radius: 20px;
    position: relative;
    display: flex;
    text-align: left;
  }
  .kotak h3{
    text-align: left;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 27px;
  }
  
  .kotak P{
    text-align: left;
    margin-left: 20px;
    margin-top: 5px;
    font-size: small;
   }

  .contact .row{
    display: flex;
    align-items: center;
    background:var(--black);
    border-radius: 7px;
    flex-wrap: wrap;
    gap: 1rem;
  }


  .contact .row .map{
    display:1 1 45rem;
    width: 50% auto;
    object-fit: cover;
    padding-left: 5rem;
    border-radius: 10px;
  }
  .contact .row form {
    display:1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
  }

  .contact .row form h3{
    text-transform: uppercase;
    font-size:2rem;
    color: #fff;
  }
  .contact .row form .inputbox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--black);
    border: var(--border);
  }

  .contact .row form .inputbox span{
    color: #fff;
    padding-left: 2rem;
    font-size: 2rem;
  }

  .contact .row form .inputbox input{
    width: 100%;
    padding: 2rem;
    font-family: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
  }

.footer{
    height: 15rem;
    width: 100%;
    background-color: var(--black);
    color: white;
    text-align: center;
}

.footer .hero{
    display: flex;
    justify-content: center;
}

.footer .hero i{
    width: 5rem;
    height: 5rem;
    border: var(--border);
    font-size: 2rem;
    line-height: 5rem;
    border-radius: 50%;
    margin: 3rem;
}

.footer .hero i a{
    position: relative;
    right: 2rem;
    color: #fff;
}

.footer .hero i a:hover{
    color: var(--main--color);
}
.footer .martabak{
    padding-top: 1rem;
    margin: 7px;
    color: #fff;
}

/* media query */
@media (max-width:991px){
    html{
        font-size: 55%;
       
    } 
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem ;
    }
}

@media (max-width:768px){
    #menu_btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh- 9.5rem);

    }
    .header .navbar.active{
        right: 0;
    }
    .header .navbar a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
    .header .search-form{
        width: 90%;
        right: 2rem;
    }
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home .content h3{
        font-size: 4.5rem;
    }
    .home .content p{
        font-size: 1.5rem;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
       
    } 
   
}